.board
  .col-md-12(*ngIf="board")
    .row
      h3.col-md-5(*ngIf="!toggleBoardTitle", (click)="editBoardTitle()") {{board.title}}
      form.col-md-5(
        [formGroup]="formBoardTitle",
        *ngIf="toggleBoardTitle",
        (ngSubmit)="changeTitle($event)"
      )
        .form-group
          input.form-control(
            type="text",
            formControlName="title",
            (keyup)="viewBoardTitle($event)"
          )
    .row
      .col-md-12
        app-list-list
  .col-md-12(*ngIf="!board")
    h1 404 This board not found!
